


.container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    margin-top: 200px;
    
    background: #fff;
    padding-bottom: 50px;
    width: 600px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}



.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}

.text {
    color: #3c009d;
    font-size: 48px;
    font-weight: 700;
}
.title{
   font-size: 30px;
   color: #3c009d;
   font-family: 'Courier New', Courier, monospace;
   font-weight: bold;

    
   
    
}

.underline {
    width: 61px;
    height: 6px;
    background: #3c009d;
    border-radius: 5px;
}

.inputs {
    margin-top: 55px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.input {
    height: 40px;
    background-color: wheat;
    margin-bottom: 20px;
    width: 480px;
    padding: 2px 10px;
    border-radius: 6px;
}

.input input {
    height: 100%;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 19px;
}

.forgot-password {
    padding-left: 62px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 27px;
    color: #797979;
    font-size: 18px;
}

.forgot-password span {
    color: #4c00b4;
    cursor: pointer;
}

.button-container {
    display: flex;
    gap: 30px;
    margin: 60px auto;
}


.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: #fff;
    background: #4c00b4;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
    
    }
    